body {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: #bbb;
  background: #222;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
p {
  font-family: 'Open Sans', sans-serif;
}
.facebookLogin {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  width: 400px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -200px;
  font-size: 36px;
  border: 1px solid #333;
  padding: 0 20px;
  line-height: 60px;
  border-radius: 5px;
  background: #3B5998;
  color: white;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(59, 89, 152, 0.6), 3px 3px 12px #000000;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.facebookLogin:hover {
  margin-top: -10px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
#main {
  background: #333;
  width: 810px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -405px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border: 1px solid #444;
}
#main .gameMenu {
  width: 310px;
  float: left;
  padding: 40px 0;
}
#main .gameMenu .btn {
  margin: 0 auto;
  width: 60px;
  display: block;
}
#main .users {
  width: 190px;
  float: left;
}
#main .chat {
  width: 310px;
  float: left;
  height: 100%;
  position: relative;
}
#main .chat textarea {
  position: absolute;
  bottom: 0;
}
#main .chat #chatScroll {
  width: 300px;
  clear: both;
  margin: 20px 10px 10px 0px;
}
#main .chat #chatScroll .viewport {
  width: 280px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
#main .chat #chatScroll .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
}
#main .chat #chatScroll .thumb .end,
#main .chat #chatScroll .thumb {
  background-color: #003d5d;
}
#main .chat #chatScroll .scrollbar {
  position: relative;
  float: right;
  width: 15px;
}
#main .chat #chatScroll .track {
  background-color: #d8eefd;
  height: 100%;
  width: 13px;
  position: relative;
  padding: 0 1px;
}
#main .chat #chatScroll .thumb {
  height: 20px;
  width: 13px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
}
#main .chat #chatScroll .thumb .end {
  overflow: hidden;
  height: 5px;
  width: 13px;
}
#main .chat #chatScroll .disable {
  display: none;
}
#canvasWrapper {
  position: relative;
}
#canvasWrapper  > canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#canvasWrapper #background {
  z-index: 0;
  background: transparent;
}
#canvasWrapper #board {
  z-index: 2;
  background: transparent;
}
#canvasWrapper #channels {
  z-index: 4;
  background: transparent;
}
#canvasWrapper #signals {
  z-index: 6;
  background: transparent;
}
