<div id="canvasWrapper">
  <canvas width="1280" height="800" id="background" keepalive="true"></canvas>
  <canvas width="1280" height="800" id="ownership" keepalive="true"></canvas>
  <canvas width="1280" height="800" id="resources" keepalive="true"></canvas>
  <canvas width="1280" height="800" id="grid" keepalive="true"></canvas>
  <canvas width="1280" height="800" id="platforms" keepalive="true"></canvas>
  <canvas width="1280" height="800" id="channels" keepalive="true"></canvas>
  <canvas width="1280" height="800" id="overlay" keepalive="true"></canvas>
  <canvas width="1280" height="800" id="signals" keepalive="true"></canvas>
  <canvas width="1280" height="800" id="UI" keepalive="true"></canvas>
  <canvas width="20" height="20" id="off" keepalive="true"></canvas>
  <canvas width="100" height="100" id="off2" keepalive="true"></canvas>
</div>
