<div width="1280" height="800" id="canvasWrapper">
	<canvas width="1280" height="800" id="board" keepalive="true"></canvas>
	<canvas width="1280" height="800" id="background" keepalive="true"></canvas>   
    <canvas width="1280" height="800" id="signals" keepalive="true"></canvas>
    <canvas width="1280" height="800" id="channels" keepalive="true"></canvas>
</div>
