<div class='facebookLogin'>
  <a href='auth/facebook'>
    <span>Log In with Facebook</span>
  </a>
</div>
<div class='loginOR'>
Or
</div>
<div class='googleplusLogin'>
  <a href='auth/google'>
    <span>Log in with Google+</span>
  </a>
</div>
