<div id='#main' class='container lobby2'>
  <div class='row'>
    <div class='span2'>
      <div>
        <ul class='tickers'>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div class='row-fluid userScore'>
          1,361
        </div>
        <div class='row-fluid ranking'>
        <ul>
            <li class='pos4'>
              <div class='avatar'>
                <img src='http://graph.facebook.com/azram19/picture/'/>
              </div>
              <span>Lukasz</span>
            </li>
            <li class='pos4'>
              <div class='avatar'>
                <img src='http://graph.facebook.com/lucas.severyn/picture/'/>
              </div>
              <span>Lucas</span>
            </li>
            <li class='pos6'>
              <div class='avatar'>
                <img src='http://graph.facebook.com/piotr.bar/picture/'/>
              </div>
              <span>Piotr</span>
            </li>
            <li class='pos9'>
              <div class='avatar'>
                <img src='http://graph.facebook.com/piotr.bar/picture/'/>
              </div>
              <span>Piotr</span>
            </li>
            <li class='pos9'>
              <div class='avatar'>
                <img src='http://graph.facebook.com/piotr.bar/picture/'/>
              </div>
              <span>Piotr</span>
            </li>
            <li class='pos9'>
              <div class='avatar'>
                <img src='http://graph.facebook.com/obenton/picture/'/>
              </div>
              <span>Oli</span>
            </li>
            <li class='pos10'>
              <div class='avatar'>
                <img src='http://graph.facebook.com/lucas.severyn/picture/'/>
              </div>
              <span>Lucas</span>
            </li>
          </ul>
        </div>
        <div class='row-fluid userScoreZero'>
          0
        </div>
      </div>
    </div>
    <div class='span10'>
      <div class='row-fluid'>
        <div class='span8'>
          <div class='row-fluid header'>
            <div class='span6 player'>
              <div class='avatar'>
                <img src='http://graph.facebook.com/robert3005/picture/'/>
              </div>
              <h1>Robert Kruszewski</h1>
            </div>
            <div class='span6 menu'>
              <ul>
                <li class='active'>
                  <a class="withTooltip" title="The Game" href="#gameMenu" data-toggle="tab"><i class="icon-fire"></i></a>
                </li>
                <li>
                  <a class="withTooltip" title="History" href="#history" data-toggle="tab"><i class="icon-book"></i></a>
                </li>
                <li>
                 <a class="withTooltip" title="Highgscores" href="#highscrores" data-toggle="tab"><i class="icon-bar-chart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class='row-fluid'>
            <div class='span12 tab-content'>
              <div class='tab-pane' id='history'>

              </div>
              <div class='tab-pane' id='highscores'>

              </div>
              <div class='tab-pane active' id='gameMenu'>
                <div class='row-fluid'>
                  <div class='span6 games'>
                    <h2>Games</h2>
                    <ul>
                      <li>
                        <div class='name'>
                          <h3>klosdfsdf</h3>
                          <span>
                            <span class='number'>4</span>/8
                          </span>
                        </div>
                        <div class='meta'>
                          <span class='gameType'>
                            Deathmatch
                          </span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class='span6 options'>
                    <button class='btn playBtn'>Play</button>
                    <button class='btn createBtn'>Create game</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='span4'>
          <div id='chat'>
            <div class='nano'>
              <ul class="content">
                <li>
                  <p>"He'll be here afore long," was the answer.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>12:13</span>
                  </div>
                </li>
                <li>
                  <p>"He'll be here afore long," was the answer.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>12:13</span>
                  </div>
                </li>
                <li>
                  <p>"He'll be here afore long," was the answer.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>12:13</span>
                  </div>
                </li>
                <li>
                  <p>I could not help it, but I began to feel suspicious of this "dark complexioned" harpooneer. At any rate, I made up my mind that if it so turned out that we should sleep together, he must undress and get into bed before I did.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>5:22</span>
                  </div>
                </li>
                <li>
                  <p>"He'll be here afore long," was the answer.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>12:13</span>
                  </div>
                </li>
                <li>
                  <p>I could not help it, but I began to feel suspicious of this "dark complexioned" harpooneer. At any rate, I made up my mind that if it so turned out that we should sleep together, he must undress and get into bed before I did.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>5:22</span>
                  </div>
                </li>
                <li>
                  <p>"He'll be here afore long," was the answer.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>12:13</span>
                  </div>
                </li>
                <li>
                  <p>I could not help it, but I began to feel suspicious of this "dark complexioned" harpooneer. At any rate, I made up my mind that if it so turned out that we should sleep together, he must undress and get into bed before I did.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>12:13</span>
                  </div>
                </li>
                <li>
                  <p>I could not help it, but I began to feel suspicious of this "dark complexioned" harpooneer. At any rate, I made up my mind that if it so turned out that we should sleep together, he must undress and get into bed before I did.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>5:22</span>
                  </div>
                </li>
                <li>
                  <p>I could not help it, but I began to feel suspicious of this "dark complexioned" harpooneer. At any rate, I made up my mind that if it so turned out that we should sleep together, he must undress and get into bed before I did.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>1:18</span>
                  </div>
                </li>
                <li>
                  <p>Supper over, the company went back to the bar-room, when, knowing not what else to do with myself, I resolved to spend the rest of the evening as a looker on.</p>
                  <div>
                    <span class='name'>Lukasz Koprowski</span>
                    <span class='time'>6:13</span>
                  </div>
                </li>
              </ul>
            </div>
            <textarea></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
