<html>
  <head>
    <title>{{title}}</title>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
    <link rel='stylesheet' href='../webroot/style.css'>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
